body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/fundo_capivara.webp') no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}




.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px; /* Reduzindo o tamanho do logo */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}



.container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    width: 90%;
    max-width: 850px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #222;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

label {
    font-weight: 500;
    color: #555;
    white-space: nowrap;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.input-field {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    transition: border 0.3s ease;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-excluir {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    transition: background 0.3s ease;
}

.btn-excluir:hover {
    background-color: #c82333;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
    white-space: pre-wrap;
}

#total-horas {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    text-align: center;
}
